{
   "Version":"2012-10-17",
   "Statement":[
      {
         "Action":"sts:AssumeRole",
         "Principal":{
            "AWS":"${principal_arn_list}"
         },
         "Effect":"Allow"
      }
   ]
}